<div class="main-wrapper">
  <%= render "banner" %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <%= render "popular_categories" %>
      <%= render "new_products" %>
    </div>
  </section>
  <%= render "shared/logos" %>
  <%= render "product_quick_view_modal" %>
</div>
