<li>
  <%= link_to potepan_category_path(child_taxon.id) do %>
  <i class="fa fa-caret-right" aria-hidden="true"></i><%= child_taxon.name %> <span>(<%= child_taxon.all_products.count %>)</span>
  <% end %>
</li>
