<li>
  <%= link_to "javascript:;", 'data-toggle': :collapse, 'data-target': "##{taxonomy.root.id}" do %>
    <%= taxonomy.root.name %><i class="fa fa-plus"></i>
  <% end %>
  <ul id="<%= taxonomy.root.id %>" class="collapse collapseItem">
    <%= render partial: "child_taxon", collection: taxonomy.taxons %>
  </ul>
</li>
