<% provide(:title, @taxon.name) %>
<%= render "shared/light_section", product: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <%= render partial: "taxonomy", collection: @taxonomies %>
              </ul>
            </div>
          </div>
        </div>
        <%= render "search_by_color" %>
        <%= render "search_by_size" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter_area" %>
        <div class="row">
          <%= render partial: "shared/product", locals: { class_elements: 'col-sm-4' }, collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "shared/logos" %>
