<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <%= render partial: "shared/product", locals: { class_elements: 'col-md-3 col-sm-6' }, collection: @related_products %>
</div>
