<% provide(:title, @product.name) %>
<%= render "shared/light_section", product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "product_slider", product: @product %>
          <%= render "media_body", product: @product %>
        </div>
      </div>
    </div>
    <%= render "related_products" %>
  </div>
</section>
