<%= csrf_meta_tags %>
<!-- SITE TITTLE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= full_title(page_title: yield(:title)) %></title>

<!-- PLUGINS CSS STYLE -->
<%= stylesheet_link_tag "application", :media => "all" %>

<!-- GOOGLE FONT -->
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
