<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>
            <%= product.name %>
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "HOME", potepan_top_path %>
          </li>
          <% if controller_name == 'categories' %>
            <li>
              <%= link_to "shop", "#" %>
            </li>
          <% end %>
          <li class="active">
            <%= product.name %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
