<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render "shared/header" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
    <%= render "shared/login_modal" %>
    <%= render "shared/sign_up_modal" %>
    <!-- Returns an HTML script tag for each of the sources provided. -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
